.item-content{
    background-color: #383a3e;
    padding: 10px;
    color: #ffffff;
    font-size: medium;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
}

.header-title{
    font-family: monospace;
}

.message-received{
    background-color: #1B8B75;
    color: #ffffff;
}

.back-button{
    float: left;
    background-color: #1B8B75;
    color: #ffffff;
    font-family: monospace;
}

.archive-chat-button{
    float: right;
    background-color: #1B8B75;
    color: #ffffff;
    font-family: monospace;
}

.message-time{
    font-size: smaller;
    color: #ffffff;
}

.send-message-button{
    --border-radius: 0;
    position: fixed;
    right: 20px;
    bottom: 6px;
}

.messages-container{
    background-image: url('../../../assets/images/chat-default-bg.jpg');
    background-repeat: repeat;
    background-size: contain;
}

.message-item{
    margin: 5px;
    box-shadow: 0px 0px 4px 3px #888888;
}

ion-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.message-input{
    padding: 5px;
    font-family: monospace;
}

.message-item-list{
    padding-top: 0;
    padding-bottom: 0;
}