<ion-header *ngIf="loadingData">
  <ion-toolbar>
    <ion-title>
      <ion-spinner name="dots"></ion-spinner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadingData">
  <ion-item>
    <ion-spinner name="dots"></ion-spinner>
  </ion-item>
</ion-content>

<ion-header *ngIf="!loadingData">
  <ion-toolbar>
    <ion-tab-button class="back-button" (click)="leaveChat()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="!loadingData">
  <ion-list>
    <ion-grid class="messages-container">
      <ion-row *ngFor="let message of messages">
        <ion-col *ngIf="userName !== message.applicationUser">
          <ion-item class="message-item ion-no-padding" lines="none">
            <div class="item-content">
              {{message.content}}
              <hr/>
              <div class="message-time">By: {{ message.applicationUser }}</div>
              <div class="message-time">At: {{ message.createdAt | date: 'long'}}</div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
        <ion-col *ngIf="userName == message.applicationUser"> 
          <ion-item class="message-item ion-no-padding" lines="none">
            <div class="item-content message-received">
              {{message.content}}
              <hr/>
              <div class="message-time">By: {{ message.applicationUser }}</div>
              <div class="message-time">At: {{ message.createdAt | date: 'long'}}</div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-list>
</ion-content> 

<ion-item>
  <form class="message-input" [formGroup]="sendMessageForm" autocomplete="off" (submit)="sendMessage(sendMessageForm)">
    <ion-input placeholder="Type message here..." type="text" formControlName="content"></ion-input>
      <ion-button type="submit" class="send-message-button" color="success" fill="solid" 
        [disabled]="sendMessageForm.invalid">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
  </form>
</ion-item>

