.item-content{
    background-color: #383a3e;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-size: medium;
    margin: 5px 0 5px 0;
    font-family: monospace;
    font-weight: bold;
}

.message-received{
    background-color: #058e3b;
    color: #ffffff;
}

.back-button{
    float: left;
}

.message-time{
    font-size: smaller;
    color: #ffffff;
}

.send-message-button{
    position: fixed;
    right: 20px;
    bottom: 6px;
}