<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="openNewChat()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label>Create New Chat</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openFeed()">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-label>Feed</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="openProfile()">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
